{% extends 'contact_list/base.html' %}


{% block content %}

        <div class="container">
            <div class="text-center mt-5">
                <h1>Список контактов</h1>
                <ul class="list-group"></ul>
                {% for co in contact_ob %}
               
                <li class="list-group-item">{{co.pk}}. <a href="{% url 'contact_detail' pk=co.pk %}">{{co.full_name}}</a>
                <p>{{co.birth_date}}</p></li>
                {% endfor %}

                <div class="center">
                    <ul class="pagination justify-content-center">
                        {% for p in pagination.page_range %}
                        <li class="page-item">
                           <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                           
                        </li>
                        {% endfor %}
                    </ul>
                </div> 
            <div>
                {% if page.has_previous %}
                <a href="?page={{page.previousPage_number }}">&lt;</a>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                {% endif %}
                Part № {{page.number}} of {{pagination.num_pages}}
                {% if page.has_next %}
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="?page={{ page.next_page_number }}">&gt;</a>
                {% endif %}
            </div> </div>
            {% endblock %}           
            